#about {
  background: @dusk;

  width: 100%;
  height: 100%;
  padding-top: 50px;

  font-family: Monaco,"Lucida Console",monospace;

  .form {
    img.img {
      max-width: 250px;
      max-height: 250px;
      text-align: right;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    h1.title {
      line-height: 250px;
      text-align: center;
    }

    .center {
      text-align: center;
    }

    a.repo {
      font-weight: bold;
      font-size: 20px;
      margin-top: 30px;
    }
  }
}
