irc-header {
  #showHideButton {
    position: absolute;
    right: 0;
    top: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &:focus {
      background-color: @btn-primary-bg;
    }

    &:hover {
      background-color: darken(@btn-primary-bg, 10%);
    }
  }
}
