ul.logs {
  list-style: none;
  word-wrap: break-word;
  margin: 0.5em;
  padding: 0em 0.2em;

  li {
    &.notice {
      background-color: @yellowo;
    }

    &.mention {
      background-color: @greeno;
    }

    &.error {
      background-color: @redo;
    }

    &.motd {
      background-color: @purpleo;
    }
  }
}
