// Serverbar
// contains all of the connections
irc-serverbar {
  width: @serverbarWidth;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 50000;

  .nav {
    padding-top: 20px;
    .menu {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0;
          text-decoration: none;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 46px;
          height: 46px;
          line-height: 46px;

          a {
            letter-spacing: normal;
            font-size: 24px;
            margin: 10px auto;
            text-align: center;
            width: 46px;
            display: block;
            height: 46px;
            line-height: 46px;
            border-radius: 50px;
            border: 2px solid transparent;

            &.active {
              background: lighten(@dusk, 10%);
              border: 2px solid rgba(255, 255, 255, 0.5);
              text-decoration: none;
            }

            &:hover {
              cursor: pointer;
              border: 2px solid rgba(255, 255, 255, 0.5);
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .bottom {
    position: fixed;
    bottom: 15px;
    width: @serverbarWidth;

    a.add-connection {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      display: block;
      font-size: 42px;
      color: @cyan;
      cursor: pointer;
      width: @serverbarWidth - 20;
      height: @serverbarWidth - 20;
      line-height: @serverbarWidth - 20 - 4;
      border: 2px solid transparent;

      &:active,
      &:hover {
        color: darken(@cyan, 10%);
        text-decoration: none;
        background-color: lighten(@dusk, 10%);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50px;
      }
    }
  }
}

// Sidebar
// contains the channels and messages
irc-sidebar {
  width: @sidebarWidth;
  height: 100%;
  position: fixed;
  top: 0;
  border-right: 1px solid @dusk;
  left: @serverbarWidth;
  bottom: 0;
  overflow: auto;

  .pure-menu-link {
    margin-left: 0.5em;

    padding: 5px 10px;

    font-weight: 700;
    font-size: 14px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &.server {
      margin-left: 0;
      font-size: 16px;
    }
  }

  .nav-pills {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    &:extend(.clearfix all);

    > li {
      position: relative;
      display: block;

      > a {
        position: relative;
        display: block;
        padding: 7px 15px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .pure-menu-separator {
    background-color: lighten(@dusk, 25%);
  }
}

// shown in the left sidebar
#logo {
  font-size: 35px;
  text-align: center;
  display: block;
  color: @pink;

  span.logoname {
    font-size: 22px;
    color: white;
  }

  i.fa {
    display: block;
  }
}


// right sidebar
// only shown for channels
irc-userbar {
  width: @rightSidebarWidth;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  ul.users {
    list-style: none;
    margin: 0.2em 0;
    padding: 0em 0.2em;

    li.user {
      text-decoration: none;
      text-align: left;
      width: 100%;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;

      transition: all ease-out 0.2s;
    }
  }
}
