irc-workspace {
  color: @dusklight;
}

irc-header {
  color: @dusklight;
  border-bottom: 1px solid lighten(@dusk, 25%);

  .title {
    color: @dusklight;
  }

  .subtitle {
    color: @dusklight;
  }
}

irc-serverbar {
  background: @dusk;
}

irc-sidebar {
  background: @sidebarBackgroundColor;

  .pure-menu-link {
    color: white;
  }

  .current {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 10px solid darken(@cyan, 10%);
  }

  .nav-pills > li > a {
    &:hover {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: @cyan;
      color: white;
    }

    &:focus {
      color: white;
      outline: none;
      text-decoration: none;
    }
  }

  .joined {
    color: white;
  }

  .not-joined {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;

    .pure-menu-link,
    .pure-menu-link:hover,
    .pure-menu-link:focus, {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .menu-heading {
    border-bottom: none;
    font-size: 14px;
    color: lighten(@dusk, 30%);
    padding: .5em 1em;
    text-transform: uppercase;
  }
}

irc-userbar {
  background: @dusk;

  ul.users {
    li.user {
      color: #fff;
    }
  }
}

irc-settings {
  background-color: @dusk;
}

irc-notification {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  animation-duration: .75s;
  animation-fill-mode: both;

  &.shown {
    animation-name: bounceInDown;
  }

  &.hide {
    animation-name: slideOutUp;
  }

  &.error {
    background-color: lighten(@red, 20%);

    .red5();
  }

  &.success {
    background-color: lighten(@green, 20%);

    .green4();
  }

  &.info {
    background-color: lighten(@blue, 20%);

    .blue4();
  }

  p {
    font-weight: bold;
    margin: 20px;
    font-size: 18px;
    text-align: center;
  }
}

.checkbox input[type="checkbox"] {
  background-color: @dusko;

  &:focus {
    box-shadow: 0 0 0 1px @dusko;
  }

  &:active {
    background-color: @green;
  }

  &:before,
  &:after {
    background-color: @dusk;
  }

  &:checked {
    background-color: @cyan;
    &:active {
      background-color: @dusk;
    }
  }

  &:indeterminate {
    background-color: @dusko;
    &:active {
      background-color: @dusk;
    }
  }
}

.form {
  select.form-control {
    color: @lightGray;
    background-color: @dusk;
    border-color: @dusklight;
  }
}

irc-command-bar {
  box-shadow: -1px 1px #d3d3d3, 1px -1 #d3d3d3;
  background-color: white;

  ul.commands {
    li.command {
      span.description,
      span.args {
        color: lighten(@dusklight, 10%);
      }

      &:hover,
      &.active {
        background-color: @cyan;
        color: white;

        span.description,
        span.args {
          color: @lightGray;
        }
      }
    }
  }
}

p.form-control-static {
  font-size: 14px;
  margin-left: 5px;
}

label p.form-control-static {
  margin-left: 1.1em;
}

irc-login {
  background-color: @dusk;
}

irc-login,
irc-settings {
  input[type='text'],
  input[type='number'],
  input[type='password'] {
    color: @lightGray;
    background-color: @dusk;
    border-color: @dusklight;

    &:focus {
      background-color: darken(@dusk, 10%);
    }
  }
}
