<!doctype html>
<html>
  <head>
    <title>EyeAreSee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css" charset="utf-8">
  </head>
  <body>
    <audio src="../public/sounds/message.mp3" id="messageSound" autostart="false"></audio>
    <script>
      require('../desktop')()
    </script>
  </body>
</html>
